############################################################################
##                                                                        ##
##                               Macros                                   ##
##                                                                        ##
############################################################################
[output_pin BEEPER_pin]
pin: PC6
pwm: True
value: 0
shutdown_value: 0
cycle_time: 0.001
scale: 1000

[gcode_macro M300]
#default_parameter_S: 100
#default_parameter_P: 100
gcode:
    {% set S = params.S|default(1000)|float %} #Dauer in ms
    {% set P = params.P|default(500)|float %} #Lautstärke des Peepen
    SET_PIN PIN=BEEPER_pin VALUE={P}
    G4 P{S}
    SET_PIN PIN=BEEPER_pin VALUE=0

[gcode_macro M600]
# default_parameter_X: 50
# default_parameter_Y: 0
# default_parameter_Z: 10
gcode:
    {% set X = params.X|default(50)|float %}
    {% set Y = params.Y|default(0)|float %}
    {% set Z = params.Z|default(10)|float %}
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    G91
    G1 E-.8 F2700
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000
    G91
    G1 E-150 F1000
    M300 S299 P200
    M300 S299 P200
    M300 S299 P200
    M300 S299 P200
    M300 S299 P200
    RESTORE_GCODE_STATE NAME=M600_state

[gcode_macro G29]
gcode:
  ; Nur Homen, wenn Achsen nicht auf Home Position sind.
  {% if printer.toolhead.homed_axes != "xyz" %}
  G28
  {% endif %}
  BED_MESH_CALIBRATE

[gcode_macro BED_CALBRATE]
description: Bed Mesh erstellen mit Name und Temperatur
gcode:
  {% set NAME = params.NAME|default(PLA) %}
  {% set TEMP = params.TEMP|default(60)|float %}

  M140 S{TEMP}
  {% if printer.toolhead.homed_axes != "xyz" %}
  G28                                                     ; Alle Axen homen, wenn Sie nicht auf Home sind.
  {% endif %}
  M190 S{TEMP}
  BED_MESH_CALIBRATE PROFILE={NAME}

  TURN_OFF_HEATERS

  SAVE_CONFIG

[gcode_macro Filament_Insert]
gcode:
    {% set X = params.X|default(110)|float %}
    {% set Y = params.Y|default(110)|float %}
    {% set Z = params.Z|default(150)|float %}
    {% set E = params.E|default(80)|float %}
    {% set repeate_count = params.repeate_count|default(2)|int %}

    {% if printer.toolhead.homed_axes != "xyz" %}
    G28                                                     ; Alle Axen homen, wenn Sie nicht auf Home sind.
    {% endif %}
    G91                                                     ; Relative Position
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=230       ; Extruder Temperatur auf 230° Stellen
    
    G1 Z{Z}                                                 ; Druckkopf auf halbe Bauraumhöhe bringen
    G90                                                     ; Absolute Position
    G1 X{X} Y{Y} F3000                                      ; Druckkopf und Bett auf Position fahren
    G91                                                     ; Relative Position
    M109 S230                                               ; Warten bis Druckkopf Tempertaur hat
    #{% set repeate_count = 2 %}                             ; Setzen der Wiederholungen
    {% for repeate in range(repeate_count) %}
    RESPOND MSG={E} 
      G1 E{E} F300                                          ; Filament auf Definerite länge Extrudieren
    {% endfor %}

    M84                                                     ; Motoren ausschalten
    G90
    TURN_OFF_HEATERS                                        ; Alles Runterkühlen


[gcode_macro Filemant_Remove]
gcode:
  {% if printer.toolhead.homed_axes != "xyz" %}
  G28                                                     ; Alle Axen homen, wenn Sie nicht auf Home sind.
  {% endif %}
  M104 S230 ; Einstellen der Temperatur für das Hotend.
  M300 S1000 P500 ; chirp to indicate bed mesh levels is initializing
  M109 S230 ; Warten bis Hotend Temperatur zum Filamentwechsel Erreicht hat.
  M300 S440 P200 ; Ton ausgeben wenn Temperatur erreicht
  G1 E-50 F7200 ; Filament 30mm schnell zurückziehen
  G1 E-80 F80 ; Filament 80mm langsam zurückziehen
  #M155 S3  ; reset temperature reporting
  M104 S0 ; cooling down the Hotend


#[gcode_macro update_git]
#gcode:
#    RUN_SHELL_COMMAND CMD=update_git_script

[delayed_gcode POWER_OFF_PRINTER_CHECK]
gcode:
  {% if printer.idle_timeout.state == "Idle" or printer.idle_timeout.state == "Ready" %}
    {% if printer.extruder.temperature < 50.0 and printer.heater_bed.temperature < 50.0 %}
        {% if printer.extruder.target == 0.0 and printer.heater_bed.target == 0.0 %}
            UPDATE_DELAYED_GCODE ID=POWER_OFF_PRINTER_CHECK DURATION=0
            _POWER_OFF_PRINTER
        {% else %}
            UPDATE_DELAYED_GCODE ID=POWER_OFF_PRINTER_CHECK DURATION=2
        {% endif %}
    {% else %}
        {% if printer.idle_timeout.state == "Printing" %}
            UPDATE_DELAYED_GCODE ID=POWER_OFF_PRINTER_CHECK DURATION=0
        {% else %}
            {% if printer.extruder.target == 0.0 and printer.heater_bed.target == 0.0 %}
                UPDATE_DELAYED_GCODE ID=POWER_OFF_PRINTER_CHECK DURATION=2
            {% else %}
                UPDATE_DELAYED_GCODE ID=POWER_OFF_PRINTER_CHECK DURATION=0
            {% endif %}
        {% endif %}
    {% endif %}
  {% endif %}

[gcode_macro _POWER_OFF_PRINTER]
gcode:
  RESPOND MSG="Drucker wird ausgeschalten" 
  {action_call_remote_method("set_device_power",
                             device="sovol_sv05_plug",
                             state="off")}
                             

[gcode_macro WARTUNGSARBEITEN]
gcode:
  {% set X = params.X|default(110)|float %}
  {% set Y = params.Y|default(110)|float %}
  {% set Z = params.Z|default(150)|float %}

  {% if printer.toolhead.homed_axes != "xyz" %}
  G28                                                     ; Alle Axen homen, wenn Sie nicht auf Home sind.
  {% endif %}

  RESPOND MSG="Bewege Druckkopf und Bett in Wartungsposition" 
  G91
  G1 Z{Z}                                                 ; Druckkopf auf halbe Bauraumhöhe bringen
  G90                                                     ; Absolute Position
  G1 X{X} Y{Y} F3000                                      ; Druckkopf und Bett auf Position fahren
  G91                                                     ; Relative Position
  M84                                                     ; Motoren ausschalten
  G90
  RESPOND MSG="Druckkopf und Bett in Wartungsposition" 


###################################################################
# Spoolman Macros
###################################################################
[gcode_macro SET_ACTIVE_SPOOL]
gcode:
  {% if params.ID %}
    {% set id = params.ID|int %}
    {action_call_remote_method(
       "spoolman_set_active_spool",
       spool_id=id
    )}
  {% else %}
    {action_respond_info("Parameter 'ID' is required")}
  {% endif %}

[gcode_macro CLEAR_ACTIVE_SPOOL]
gcode:
  {action_call_remote_method(
    "spoolman_set_active_spool",
    spool_id=None
  )}

###################################################################
# KlipperBackup Macros
###################################################################
#[gcode_macro update_git]
#gcode:
#    RUN_SHELL_COMMAND CMD=update_git_script
#
#[gcode_shell_command update_git_script]
#command: bash /home/pi/klipper-backup/script.sh
#timeout: 90.0
#verbose: True

###################################################################
# Klipperscreen Macros
###################################################################
[gcode_macro LOAD_FILAMENT]
gcode:
    {% set speed = params.SPEED|default(300) %}
    {% set max_velocity = printer.configfile.settings['extruder'].max_extrude_only_velocity %}
    SAVE_GCODE_STATE NAME=load_state
    M300 # beep
    G91
    G92 E0
    G1 E350 F{max_velocity} # fast-load
    G1 E25 F{speed} # purge
    M300
    M300
    RESTORE_GCODE_STATE NAME=load_state
[gcode_macro UNLOAD_FILAMENT]
gcode:
    {% set speed = params.SPEED|default(300) %}
    {% set max_velocity = printer.configfile.settings['extruder'].max_extrude_only_velocity %}
    SAVE_GCODE_STATE NAME=unload_state
    G91
    M300 # beep
    G92 E0
    G1 E25 F{speed} # purge
    G1 E-420 F{max_velocity} # fast-unload
    M300
    M300
    RESTORE_GCODE_STATE NAME=unload_state

[gcode_macro FILAMENT_RUNOUT]
gcode:
  {% set X = params.X|default(5)|float %}
  {% set Y = params.Y|default(200)|float %}
  {% set Z = params.Z|default(10)|float %}

  M300 S440 P200
  M300 S660 P250
  M300 S880 P300

  SAVE_GCODE_STATE NAME=runout_state

  G91               ; Relative Position
  G28 Z{Z}             ; Z-Achse um Default 10mm nach oben bewegen
  G90
  G1 X{X} Y{Y}      ; X-, und Y-Achse auf 0 und 220 bewegen

  RESTORE_GCODE_STATE NAME=runout_state